<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Function Page</title>
<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<h3 align = "left">Hello User: {{username}}</h3>
<h3 align = "left">LoginID: {{login_id}} </h3>
</head>
<body>
<h2 align = "center">VM Config</h2>
<br>
<br>
<div class="row">
  <div class="column" style="background-color:orange;">
    <h2>Basic VS Instance</h2>
	<h3>Features</h3>
    <p>8 virtual processor cores, 16 GB of virtual RAM, 20 GB of
storage space in the root file system - 5 cents/minute</p> <br>
<form action="/next" method="POST">
	<center><input type="radio" id="Basic" name="VS Instance" value="Basic,{{username}},{{login_id}}">
  <label for="Basic">Basic</label> </center>
  </div>
  <div class="column" style="background-color:white;">
    <h2>Large VS Instance</h2>
	<h3>Features</h3>
    <p>32 virtual processor cores, 64 GB of virtual RAM, 20 GB of
storage space in the root file system -10 cents/minute</p> <br>
	<center><input type="radio" id="Large" name="VS Instance" value="Large,{{username}},{{login_id}}">
  <label for="Large">Large</label> </center>
  </div>
  <div class="column" style="background-color:#7CFC00;">
    <h2>Ultra-Large VS Instance</h2>
	<h3>Features</h3>
    <p>128 virtual processor cores, 512 GB of virtual RAM, 40
GB of storage space in the root file system- 15 cents /minute</p> <br>
	<center><input type="radio" id="Ultra-Large" name="VS Instance" value="Ultra-Large,{{username}},{{login_id}}">
  <label for="Ultra-Large">Ultra-Large</label> </center>
  </div>
  </div>
  <br>
  <br>
  <br>
<center><input type="submit" value="Submit"/></center>

</body>
</html>