<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body onload="createTable()">
<h2 align="center">Instance</h2>
{%if result%}
<br>
<h3 align="left">Existing</h3>
<table>
<!-- Table headers -->
     <tr>
    <th>No</th>
    <th>UserID</th>
	<th>Plan</th>
	<th>Start Time</th>
	<th>End Time</th>
	<th>Charges</th>
  </tr>
      
<!-- For loop logic of jinja template -->
{%for i in result%} 
  
<!-- table rows -->
<tr> 
    <td>{{i.vm_id}}</td> 
    <td>{{i.cc_id}}</td>
     <td>{{i.vm_type}}</td>
     <td>{{i.start}}</td>
     <td>{{i.stop}}</td>
     <td>{{i.charges}}</td>
  
{%endfor%} 
  
</tr> 
</table>

 <p>
        <input type="button" id="addRow" value="Add New Row" onclick="addRow()" />
    </p>
<br>
    <!--THE CONTAINER WHERE WE'll ADD THE DYNAMIC TABLE-->
    <div id="cont"></div>
	
    <p><input type="button" id="bt" value="Sumbit Data" onclick="sumbit()" /></p> <br>
	
<script>
    // ARRAY FOR HEADER.

    var arrHead = new Array();
    arrHead = ['DELETE', 'VM_ID', 'CC_ID', 'PLAN', 'START', 'STOP', 'UPGRADE', 'DOWNGRADE', 'START_TIME', 'STOP_TIME', 'CHARGES'];      // SIMPLY ADD OR REMOVE VALUES IN THE ARRAY FOR TABLE HEADERS.
	
    // FIRST CREATE A TABLE STRUCTURE BY ADDING A FEW HEADERS AND
    // ADD THE TABLE TO YOUR WEB PAGE.
    function createTable() {
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable');            // SET THE TABLE ID.

        var tr = empTable.insertRow(-1);

        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th');          // TABLE HEADER.
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);    // ADD THE TABLE TO YOUR WEB PAGE.
    }

    // ADD A NEW ROW TO THE TABLE.s
    function addRow() {
        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;        // GET TABLE ROW COUNT.
        var tr = empTab.insertRow(rowCnt);      // TABLE ROW.
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td');          // TABLE DEFINITION.
            td = tr.insertCell(c);

            if (c == 0) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'DELETE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'removeRow(this)');
				

                td.appendChild(button);
            }
            else if (c == 2) {           // FIRST COLUMN.
                // ADD A BUTTON.
         		//var newData = {{login_id}};
         		var f = document.createElement('output');   
                f.innerHTML = {{login_id}};
                td.appendChild(f);
            }
            else if (c == 3) {           // FIRST COLUMN.
                // ADD A BUTTON.
            	var f = document.createElement('output');   
                f.innerHTML = "{{plan}}";
                td.appendChild(f);
            }
			else if (c == 4) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'START');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'START(this)');
				

                td.appendChild(button);
            }
			else if (c == 5) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'STOP');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'STOP(this)');
				

                td.appendChild(button);
            }
			else if (c == 6) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'UPGRADE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'UPGRADE(this)');
				

                td.appendChild(button);
            }
			else if (c == 7) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'DOWNGRADE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'DOWNGRADE(this)');
				

                td.appendChild(button);
            }
			
            else {
                // CREATE AND ADD TEXTBOX IN EACH CELL.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('value', '');
				

                td.appendChild(ele);
            }
        }
    }

    // DELETE TABLE ROW.
    function removeRow(oButton) {
        var empTab = document.getElementById('empTable');
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex);       // BUTTON -> TD -> TR.
    }
</script>
</body>
{%else%}
<body onload="createTable()">
    <p>
        <input type="button" id="addRow" value="Add New Row" onclick="addRow()" />
    </p>
<br>
    <!--THE CONTAINER WHERE WE'll ADD THE DYNAMIC TABLE-->
    <div id="cont"></div>
	
    <p><input type="button" id="bt" value="Sumbit Data" onclick="sumbit()" /></p> <br>
<script>
    // ARRAY FOR HEADER.

    var arrHead = new Array();
    arrHead = ['DELETE', 'VM_ID', 'CC_ID', 'PLAN', 'START', 'STOP', 'UPGRADE', 'DOWNGRADE', 'START_TIME', 'STOP_TIME', 'CHARGES'];      // SIMPLY ADD OR REMOVE VALUES IN THE ARRAY FOR TABLE HEADERS.
	
    // FIRST CREATE A TABLE STRUCTURE BY ADDING A FEW HEADERS AND
    // ADD THE TABLE TO YOUR WEB PAGE.
    function createTable() {
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable');            // SET THE TABLE ID.

        var tr = empTable.insertRow(-1);

        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th');          // TABLE HEADER.
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);    // ADD THE TABLE TO YOUR WEB PAGE.
    }

    // ADD A NEW ROW TO THE TABLE.s
    function addRow() {
        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;        // GET TABLE ROW COUNT.
        var tr = empTab.insertRow(rowCnt);      // TABLE ROW.
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td');          // TABLE DEFINITION.
            td = tr.insertCell(c);

            if (c == 0) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'DELETE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'removeRow(this)');
					

                td.appendChild(button);
            }
            else if (c == 2) {           // FIRST COLUMN.
                // ADD A BUTTON.
         		//var newData = {{login_id}};
         		var f = document.createElement('output');   
                f.innerHTML = {{login_id}};
                td.appendChild(f);
            }
            else if (c == 3) {           // FIRST COLUMN.
                // ADD A BUTTON.
            	var f = document.createElement('output');   
                f.innerHTML = "{{plan}}";
                td.appendChild(f);
            }
			else if (c == 4) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'START');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'START(this)');
                td.appendChild(button);
            }
			else if (c == 5) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'STOP');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'STOP(this)');
				

                td.appendChild(button);
            }
			else if (c == 6) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'UPGRADE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'UPGRADE(this)');
				

                td.appendChild(button);
            }
			else if (c == 7) {           // FIRST COLUMN.
                // ADD A BUTTON.
                var button = document.createElement('input');

                // SET INPUT ATTRIBUTE.
                button.setAttribute('type', 'button');
                button.setAttribute('value', 'DOWNGRADE');

                // ADD THE BUTTON's 'onclick' EVENT.
                button.setAttribute('onclick', 'DOWNGRADE(this)');
				

                td.appendChild(button);
            }
			else if (c == 8) {           // FIRST COLUMN.
                // ADD A BUTTON.
				var f = document.createElement('output');   
                f.innerHTML = "{{start}}";
                td.appendChild(f);
            }
			
			
            else {
                // CREATE AND ADD TEXTBOX IN EACH CELL.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('value', '');
				

                td.appendChild(ele);
            }
        }
    }

    // DELETE TABLE ROW.
    function removeRow(oButton) {
        var empTab = document.getElementById('empTable');
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex);       // BUTTON -> TD -> TR.
    }
    
    function START(oButton) {
        var datetime1 = new Date();
        var endtime = datetime1.getTime();
        alert(starttime);
    }
        function submit() {
            var myTab = document.getElementById('empTable');
            var values = new Array();

            // LOOP THROUGH EACH ROW OF THE TABLE.
            for (row = 1; row < myTab.rows.length - 1; row++) {
                for (c = 0; c < myTab.rows[row].cells.length; c++) {   // EACH CELL IN A ROW.

                    var element = myTab.rows.item(row).cells[c];
                    if (element.childNodes[0].getAttribute('type') == 'text') {
                        values.push("'" + element.childNodes[0].value + "'");
                    }
                }
            }
            console.log(values);
    }
 </script>

{%endif%}
</body>
</html>